# Node
node_modules/

# Env
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Build
dist/
build/


data/runs/
*.log

data/baselines/*
data/drift_metrics/*
data/features/*
data/insights/*
data/embeddings/*

.env.*
.env.development
.env.production